## 1) Exploring the crashes

Just by looking at the spreadsheet we can see that there are 136 idependent crahes.

I want to look at juist the Town Name, Date Of Crash, Number Of Motor Vehicles, Light Condition Text Format

In [4]:
import pandas as pd

In [5]:
# Load the newly provided CSV file
file_path = 'export_182420_0.csv'
data = pd.read_csv(file_path)

# Display the first few rows to identify the correct columns
data.head()

,CrashId,Fatal Case Status,Fatal Case Status Text Format,CrashId.1,CrashId.2,Latitude,Longitude,DOT Case Number,Town Name,Town Number,...,Police Case Status,Police Case Status Text Format,Crash Report Submission Date,Related Case Identifiers,No. of Through Lanes (Log Dir.),Average Daily Traffic,Functional Classification,Functional Classification Text Format,Rural or Urban,Rural or Urban Text Format
0,1120523,1,Complete,1120523,1120523,41.656084,-72.914214,924017,Bristol,17,...,C,Closed,59:24.0,NaN,4.0,19200.0,3.0,PRINCIPAL ARTERIAL - OTHER - NEW HPMS,2.0,Urban
1,1120633,1,Complete,1120633,1120633,41.228910,-73.031433,924004,Milford,84,...,C,Closed,00:04.0,2024000046,2.0,16900.0,4.0,MINOR ARTERIAL - NEW HPMS,2.0,Urban
2,1122370,1,Complete,1122370,1122370,41.381282,-71.898517,924008,Stonington,137,...,O,Open,55:44.0,2400014528,4.0,41300.0,1.0,INTERSTATE - NEW HPMS,2.0,Urban
3,1124976,1,Complete,1124976,1124976,41.319335,-73.095853,924016,Shelton,126,...,O,Open,51:51.0,NaN,2.0,10800.0,4.0,MINOR ARTERIAL - NEW HPMS,2.0,Urban
4,1126594,1,Complete,1126594,1126594,41.389921,-73.209324,924012,Newtown,97,...,O,Open,21:35.0,NaN,2.0,10800.0,3.0,PRINCIPAL ARTERIAL - OTHER - NEW HPMS,2.0,Urban

In [6]:
# Extract the relevant columns
filtered_data = data[['Town Name','Latitude','Longitude', 'Date Of Crash', 'Number Of Motor Vehicles', 'Light Condition Text Format']]

# Save the filtered data to a new CSV file
output_file_path = 'filtered_crash_data_final.csv'
filtered_data.to_csv(output_file_path, index=False)

output_file_path

'filtered_crash_data_final.csv'

In [7]:
#show the data
filtered_data = pd.read_csv('filtered_crash_data_final.csv')
filtered_data

,Town Name,Latitude,Longitude,Date Of Crash,Number Of Motor Vehicles,Light Condition Text Format
0,Bristol,41.656084,-72.914214,1/5/24,2,Daylight
1,Milford,41.228910,-73.031433,1/2/24,1,Daylight
2,Stonington,41.381282,-71.898517,1/11/24,3,Daylight
3,Shelton,41.319335,-73.095853,1/6/24,3,Dark-Lighted
4,Newtown,41.389921,-73.209324,1/20/24,2,Daylight
...,...,...,...,...,...,...
132,Griswold,41.606730,-71.912143,6/1/24,2,Daylight
133,Voluntown,41.589718,-71.832609,7/25/24,1,Unknown
134,Milford,41.232069,-73.045685,8/13/24,2,Daylight
135,Ridgefield,41.269356,-73.442064,8/25/24,2,Dark-Not Lighted
136,West Hartford,41.735254,-72.744102,8/17/24,1,Daylight